<%- include partials/header.ejs%>



        <div class="container firstDiv">
            <h3>Enter new role info below</h3>

            <form action="/company/roles/new", method="POST">
                <div class="form-group">
                    <label for="roleTitle">Position Title</label>
                    <input type="text" name="roleTitle" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" name="location" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="majorTradeArea">Major Trade Area</label>
                    <select name="majorTradeArea" class="form-control">
                        <%let majorTrades = ["Service", "Motive Power", "Construction","Industrial"]; %>
                        <%majorTrades.forEach((major) => { %>
                            <option value=<%=major%>><%=major%></option>
                        <%})%>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="tradeName">Specific Trade Name</label>
                    <input type="text" name="tradeName" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="responsibilities">Responsibilities</label>
                    <textarea rows="5" name="responsibilities" class="form-control"></textarea>
                </div>
                
                <div class="form-group">
                    <label for="journeyperson">Journeyperson</label>
                    <textarea rows="5" name="journeyperson" class="form-control"></textarea>
                </div>
                
                <div class="form-group">
                    <label for="skillsReq">Skills Requred</label>
                    <textarea rows="5" name="skillsReq" class="form-control"></textarea>
                </div>
                
                <div class="form-group">
                    <label for="trainingReq">Training Required</label>
                    <textarea rows="5" name="trainingReq" class="form-control"></textarea>
                </div>
                
                <div class="form-group">
                    <label for="trainingProvided">On-the-job Training Provided</label>
                    <textarea rows="5" name="trainingProvided" class="form-control"></textarea>
                </div>
                
                <div class="form-group">
                    <label for="fulltimePay">Potential Fulltime Pay (Entry level)</label>
                    <input type="text" name="fulltimePay" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary">Create Role</button>
            </form>
        </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>